@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,700|Varela+Round');
@font-face {
    font-family: 'geomanistregular';
    src: url('geomanist-regular-webfont.eot');
    src: url('geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-webfont.woff2') format('woff2'),
         url('geomanist-regular-webfont.woff') format('woff'),
         url('geomanist-regular-webfont.ttf') format('truetype'),
         url('geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
    overflow-x: hidden;
}
@-ms-viewport {
    width: device-width;
}

body {
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'geomanistregular', Fallback, sans-serif; */
    text-decoration-color: black;
}


/*******************************************************
Navigation Bar
*******************************************************/
.navbar {
    overflow: hidden;
}
nav {
    margin-top: 0px;
    padding-top: 1vh;
    margin-right: 0.5vw;
    position: fixed;
    width: 100vw;
    background: transparent;
    padding-top: 0px;
}

.navbar-nav {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #navexpander {
        display: none;
    }
}

nav ul li {
    float: right !important;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}

nav ul li a {
    color: white;
    font-size: 1.1em;
    font-weight: 100;
    transition: 0.1s;
}

nav ul li a:active {
    color: white;
}

/*Naviagtion fill*/
nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}

nav.fill ul li a {
    transition: 0.4s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
    transition: 0.4s ease-in;    
    color: black;
    z-index: 1;
    background-color: black;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  -webkit-animation: fill 0.5s forwards;
  -moz-animation: fill 0.5s forwards;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    nav ul li {
        font-size: 0.8em; 
        text-align: center;       
    }

}

/* Keyframes */
@keyframes fill {
    0% {
      width: 0%;
      height: 1px;
      background: none;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: white;
    }
  }


/**********Hamburger Mobile Nav Menu ***************/

.icon-bar {
    background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    #overlay {
        display: none;
    }
}
#overlay {
    overflow: hidden;
    height: 95vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(240, 240, 240, 0.7) !important;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s ease-out;    
}

#overlay ul {
    position: absolute;
    top: 20vh;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.7);
    text-align: center;
}

#overlay ul li {
    padding-top: 5vh;
    text-decoration: none;
    list-style-type: none;
    
}

#overlay ul li a {
    color: black;
    font-size: 3em;
    text-decoration: none;
    transition: 0.3s;
}

#overlay ul li a:hover {
    color: #fea530;
}

.solid {
    background-color: rgb(20, 20, 20);
}

/*****************************************
Welcome
*****************************************/
#welcome {
    background-image: url("/images/circuitbgdark.jpg");
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0px 0px;
    font-family: 'geomanistregular', Fallback, sans-serif;
}

#welcometext {
    /* margin-top: 17.5%; */
    height: 16%;
    color: white;
    position: absolute;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
}

#welcometext h1 {
    font-size: 10rem;
    font-weight: 500;
}

#welcometext p {
    font-size: 2rem;
}
.lead {
    margin-top: 5vh;
}

.video-container,
.video {
    display: none;
}

.tint {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 6, 17, 0.904);
    opacity: 0.8;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    #welcometext {
        top: 35%;
    }
    #welcometext h1 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 768px) {
    #welcometext {
        /* top: 30%; */
    }
    #welcometext h1 {
        font-size: 7rem;
    }

    #welcometext p {
        font-size: 1.6rem;
    }
    
}

@media screen and (min-width: 992px) {
    
    .video-container {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: hidden;
        display: block !important;
    }
    
    video {
        width: 100%;
        position: absolute;
        z-index: -2;
        display: block !important;
    }

    #welcome{
        background: transparent;
    }
}

/*******************************************************
About Section
*******************************************************/
#about {
    background-color: #F5F5F5;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'geomanistregular', Fallback, sans-serif; */
    font-family: 'Varela Round', sans-serif;
    padding: 15vh 5vw;
}

#about h1 {
    font-size: 10rem;
    font-weight: 500;
}

.pfblock-line {
    background: rgba(135, 135, 135, 0.5);
    width: 100px;
    height: 1px;
    margin: 30px auto;
}

#about p {
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(104, 104, 104);
}

@media screen and (max-width: 992px) {
    #about h1 {
        font-size: 8rem;
    }
    #about p {
        font-size: 1.5rem;
    }
}
/*******************************************************
Hardware Section
*******************************************************/
#hardware {
    background-image: url("/images/blurredworkshop.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    /* font-family: 'Raleway', sans-serif;  */
    /* font-family: 'geomanistregular', Fallback, sans-serif; */
    font-family: 'Varela Round', sans-serif;
    padding: 15vh 0px;
}


#hardware h1 {
    color: white;
    font-size: 10rem;
    font-weight: 500;
}   

#hardwarecap {
    color: white;
    font-size: 2rem;
}

.cleanpics {
    margin-bottom: 5vh;
}

@media screen and (max-width: 992px) {
    #hardware h1 {
        font-size: 8.5rem;
    }
    #hardware p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    #hardware h1 {
        font-size: 7rem;
    }
    #hardware p {
        font-size: 1.5rem;
    }
}

/*********** Clean Boostrap Template Stuff ************/
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

.grid h2{
    font-size: 20px;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: auto;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: 0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: #000000;
}

figure.effect-bubba img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
    color: #fff;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*******************************************************
Photography Section
*******************************************************/

#photography {
    background: #F5F5F5;
    color: black;
    padding: 15vh 0px;
    width: 100%;
}

#photography h1 {
    font-size: 10rem;
    font-weight: 500;
    color: black;
}

#photographycap {
    color: black;
    font-size: 2rem;
}

@media screen and (max-width: 992px) {
    #photography h1 {
        font-size: 8.5rem;
    }
    #photography p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    #photography h1 {
        font-size: 7rem;
    }
    #photography p {
        font-size: 1.5rem;
    }
}



/*******************************************************
Footer Section
*******************************************************/

#footer {
    background: #232830;
    color: white;
    padding: 15vh 0px;
    width: 100%;
    font-family: 'geomanistregular', Fallback, sans-serif;
}

#footer h1 {
    font-size: 10rem;
    font-weight: 500;
    color: white;
}

#footer p {
    font-size: 2rem;
}

@media screen and (max-width: 992px) {
    #footer h1 {
        font-size: 8.5rem;
    }
    #footer p {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    #footer h1 {
        font-size: 7rem;
    }
    #footer p {
        font-size: 1.5rem;
    }
}